*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100svh;
    background: linear-gradient(123deg,#ba55be,#00d4ff );
}

.container{
    width:400px;
    background-color: #fff;
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 12px 13px 12px 13px rgba(0, 0, 0, 0.15);
    color:#111;
    animation: containerAnimation 2s ease;
}
@keyframes containerAnimation
{
    0%{
        opacity:0;
        transform: translate(-50%,-70%);
    }
    100%{
        opacity:1;
        transform: translate(-50%,-50%);
    }
} 
label, input, #error{
    font-family: sans-serif;
}
label{
      display: inline-block;
      font-weight: 500;
      margin-bottom: 10px; 
}
input[type="email"]{
    display: inline-block;
    border:2px solid #d1d3d4;
    width: 88%;
    height: 50px;
    outline:none;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding:5px;
    border-radius: 13px; 
    background-color:bisque;
    padding: 0 18px;
}
#icon{
    float: right;
    height: 50px;
    position: relative;
    font-size: 25px;
    margin-top: 10px;
}
#error_msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
}